.container {
    background-color: #e9ecef;
    height: 600px;
    margin-top: 30px;
    width: 100%;
    padding-top: 30px;
}

.caseBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.headerTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    align-content: center;
    border: 1px solid darkgrey;
    font-weight: 500;
    flex-wrap: wrap;
    padding: 10px;
    text-align: start;
}

.valueTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid darkgrey;
    border-top: none;
    padding: 10px;
    text-align: start;
}

.item {
    margin-left: 10px;
}
.caseBlockBtn {
margin-left: 5px;
}