.container {
    background-color: #e9ecef;
    height: 500px;
    margin-top: 30px;
    width: 100%;
    padding-top: 60px;
    font-size: 14px;
}

.caseBlock {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.headerTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    align-items: center;
    border: 1px solid darkgrey;
    font-weight: 500;
    flex-wrap: wrap;
    padding: 10px;
    text-align: start;
    background-color: rgba(205, 212, 209, 0.7);
}

.valueTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid darkgrey;
    border-top: none;
    padding: 10px;
    text-align: start;
    background-color: rgba(255, 255, 255, 0.7);
}

.item {
    margin-left: 10px;
}

.wordCopy {
    margin-left: 15px;
}