.headerBlock {

}
.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #363636;
    min-height: 55px;
    position: fixed;
    top: 0;
    z-index: 3;
}

.navLink {
    text-decoration: none;
    color: #fcfafa;
    transition-delay: 0.1s;
    opacity: 0.8;

}

.navLinkContext {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.homeIcon {
    width: 25px;
    height: 27px;
    margin-right: 4px;
    filter: invert(1);
}

.navLinkContext:hover, .homeIcon:hover {
    color: #55e355;
    filter: contrast(1);
}
